* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: bisque;
}

header {
    background-color: grey;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    background-color: aquamarine;
    color: rgb(77, 73, 73);
    width: 20%;
    text-align: right;
}
nav {
    display: flex;
}

nav a {
    padding: 14px;
    color: rgb(16, 213, 248);
    text-decoration: none;
    font-size: 30px;
}

main {
    display: flex;
    flex-wrap: wrap;
}
div{
    display: flex;
}

.banner {
    height: 650px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(./images/kobu-agency-ipARHaxETRk-unsplash.jpg);
    background-size: cover;
    background-position: center;
}


.section1,
.section2,
.section3 {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    padding: 20px;
}

.section1,
.section2,
.section3 aside {
    flex: 1;
    padding: 20px;
    font-size: 50px;
}

.section1, article {
    flex: 1;
}

.section1 p {
    padding: 14px;
    font-size: 25px;
}

.section2 figure {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content:flex-start;
}

#cactus {
    flex: 2 0 1000px;
}

/* .project {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
} */

 .project1 {
    border-width: 1px;
    border-radius: 50px;
    padding: 5px;
    flex: 0 0 641px;
    box-shadow: 10px 10px 5px grey;
    margin: 5px;
}

.project1 img {
    flex: 1;
    border-radius: 50px 50px 50px 50px;
    width: 100%;
}
.project1:hover {
    background-color: crimson;
}


.section3 {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;

}

address{
    display: flex;
    flex: 1;
    justify-content: space-evenly;
}

address a{
    color: rgb(16, 213, 248);
    text-decoration: none;
    font-size: 30px;
    padding: 14px 20px;
}




@media screen and (max-width: 922px) {
    header{
        flex-direction: row;
    }
}
@media screen and (max-width: 768px) {
    header{
        flex-direction: row;
    }
}
@media screen and (max-width: 525px) {
    header,
    nav,
    main,
    figure,
    address{
        flex-direction: column;
    }
    
}

