* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
}

header {
    background-color: green;
    padding: 10px;
}
nav {
    display: flex;
    justify-content: flex-end;
}

nav a {
    padding: 14px 20px;
    color: rgb(16, 213, 248);
    text-decoration: none;
    font-size: 20px;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.banner {
    height: 650px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(./images/raoul-droog-yMSecCHsIBc-unsplash.jpg);
    background-size: cover;
    background-position: center;
}
.banner p{
    background-color: brown;
    position: absolute;
    bottom: 185px;
    right: 100px;
}

aside{
    flex: 1;
    background-color: #b9c6ae;
    padding: 20px;
}


section {
    flex: 3;
    padding: 20px;
}

address{
    display: flex;
    justify-content: space-evenly;
}

address a{
    color: rgb(16, 213, 248);
    text-decoration: none;
    font-size: 30px;
}




@media screen and (max-width: 922px) {
    header{
        flex-direction: row;
    }
}
@media screen and (max-width: 768px) {
    header{
        flex-direction: row;
    }
}
@media screen and (max-width: 525px) {
    header, nav, address{
        flex-direction: column;
    }
    
}